/* reset */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width:100% ;
    margin: 0 auto;
    min-height: 100px;

    
    
}
.container-top{
    background-color: #ADD8E6;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bottom{
    background-color: blue;
    height: 500px;
}

.container-top > .logo-nav, .link-nav, .login-nav{
    background-color: #DAA520;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 2px dashed black;
    
}

.logo-nav{
    width: 200px;
   
}
.link-nav{
    width: 400px;
    
}
.login-nav{width: 200px;
    
}



.container-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.purple-box{
    width: 500px;
    height: 250px;
    background-color:#EE82EE;
    border: 2px dashed black;
}

.container-white{
    background-color: white;
    width:100% ;
    margin: 0 auto;
    min-height: 100px;

}

.container-special{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 350px;
}

.blue-box{
    background-color: #1E90FF;
    width: 400px;
    height: 250px;
    border: 2px dashed black;

}

.pink-box{
    background-color: #FFC0CB;
    border: 2px dashed black;
    width: 200px;
    height: 250px;
}

.container-invertito{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: 350px;
    background-color: grey;

}

.container-verde{

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 750px;
    background-color: lightgrey;
}

.greenbox{
    width: 600px;
    height: 600px;
    background-color: green;
    border: 2px dashed black;
    
    

}

.container-black{
    background-color: black;
    width:100% ;
    margin: 0 auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column ;
    justify-content: space-between;
}

.last-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

}

.peach-box{
    height: 250px;
    width: 200px;
    background-color: #F08080;
    border: 2px dashed black;
}

.box-1{
    height: 250px;
    width: 100px;
    background-color: #20B2AA;
    border: 2px dashed white;
}

.line{
    
    border: 5 px solid white;
    margin: 50px;
    width: 100%;
    
}

.closer{
    background-color:#7FFFD4;
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.closer > .push, .send{
    width: 50px;
    background-color: white;
    height: 30px;
    border: 2px dashed black;
    text-align: center;
    line-height:30px ;

    

}



